/* css/massage.css */

main {
  padding: 1.5rem;
  max-width: 800px;
  margin: auto;
}

.massage-title h1,
.profile-title h1,
.contact-title h1 {
  color: #d64550;
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 0.3rem;
}

.subtitle {
  text-align: center;
  color: #555;
  font-size: 1rem;
  margin-bottom: 2rem;
}

.massage-content,
.profile-content,
.contact-content {
  background: #fff0f5;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px 10px rgba(214, 69, 80, 0.05);
}

.massage-content p,
.profile-content p,
.contact-content p {
  line-height: 1.8;
  font-size: 1rem;
  margin: 0;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .massage-title h1,
  .profile-title h1,
  .contact-title h1 {
    font-size: 2.2rem;
  }

  .subtitle {
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  .massage-title h1,
  .profile-title h1,
  .contact-title h1 {
    font-size: 1.4rem;
  }

  .massage-content,
  .profile-content,
  .contact-content {
    padding: 1rem;
  }

  .massage-content p,
  .profile-content p,
  .contact-content p{
    font-size: 0.95rem;
    margin-bottom: 0.8rem;
  }
}

.profile-content,
.massage-content,
.contact-content {
  position: relative;
  z-index: 0;
  color: #000; 
}

.profile-content::before,
.massage-content::before,
.contact-content::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/homepage/image/profile/profile-background.jpg') no-repeat center center;
  background-size: cover;
  opacity: 0.3;
  z-index: -1;
  border-radius: 12px;
}

.massage-content::before {
  background: url('/homepage/image/profile/profile-background.jpg') no-repeat center center;
  background-size: cover;
  transform: scaleX(-1)
}

.contact-content::before {
  background: url('/homepage/image/profile/profile-background.jpg') no-repeat center center;
  background-size: cover;
  transform: scaleX(-1)
}

.add-snsWrapper {
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.add-sns {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 7px;
  margin-bottom: 1rem;
}

.add-sns p {
  margin:0;
}

.add-line,
.add-insta {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem !important;
  font-weight: bold;
  color: #00b900;
}

.add-insta {
  background: linear-gradient(30deg, #4158D0, #C850C0 30%, #FFCC70);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.add-sns a {
  display: flex;
}

.insta-follow {
  border-radius: 4px;ã€€
}

.sns-attention {
   color: red;
   font-weight: bold;
}
.sns-idlist {
   font-weight: bold;
   color: white;
   background: linear-gradient(180deg, #000000, #000, #000, #000, #00b900 30%, #ff70a5);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}







